# Laravel
/vendor
/node_modules
/public/storage
/storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant

# Laravel logs & cache
/storage/logs
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/views

# Node/Vue
frontend/node_modules/
frontend/dist/
frontend/.env

# VSCode & IDE
.vscode/
.idea/
*.swp
.DS_Store

# Composer
composer.lock
# npm/yarn/pnpm
package-lock.json
yarn.lock
pnpm-lock.yaml

# OS
Thumbs.db
ehthumbs.db
Desktop.ini
*.log